* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

body {
  background: #F4F4F4
}

ul {
  padding: 0;
  list-style-type: none;
}

h1 {
  text-align: center;
  font-family: Oswald;
  font-weight: 500;
  font-size: 19px;
  padding-top: 19px;
  color: #4C4C4C;
}

time {
  font-family: Lato;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin-left: 29px;
  bottom: 240px;
}

a {
  text-decoration: none;
  font-family: Lato;
  font-weight: 700;
  font-size: 12px;
  color: #444;

}

.header-elements {
  display: inline-flex;
  border-bottom: 1px solid #E7E7E7;
  height: 46px;
}

.header-element {
  position: relative;
  font-family: Lato;
  font-weight: 700;
  margin: 9px 21px 0 0;
  font-size: 12px;
  left: 150px;
  letter-spacing: .7px;
}

.header-social {
  display: inline-flex;
  position: relative;
  opacity: 50%;
  margin: 9px 0 0 15px;
  left: 786px;
  font-size: 12px;
}

.search {
  display: inline-flex;
  position: relative;
  opacity: 50%;
  margin: 9px 0 0 15px;
  left: 791px;
  font-size: 12px;
}

.article-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #E7E7E7;
  height: 920px;
  width: 750px;
  margin: 33px 0 50px 150px;
  background: #FFFFFF;
}

.article-content img{
  position: relative;
  width: 750px;
  height: 472px;
}

.article-picture3 {
  margin-bottom: 21px;
}

.article-picture5 {
  margin-bottom: 75px;
}

.article-header {
  position: relative;
  text-align: center;
  color: #D3754F;
  font-size: 8pt;
  font-family: Lato;
  letter-spacing: 1px;
  margin-top: 45px;
  font-weight: bold;
}

.article-title {
  position: relative;
  text-align: center;
  color: #444444;
  font-family: Oswald;
  font-size: 18pt;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 5px;
}

.article-paragraph {
  position: relative;
  text-align: justify;
  color: #444444;
  margin: 0 40px 40px 40px;
  font-family: Lato;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.8;
}

.article-button {
  position: relative;
  width: 172px;
  height: 38px;
  padding: 12px;
  font-family: Lato;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 30px auto 68px auto;
  bottom: 38px;
  color: #C5583A;
  border: 1px solid #C5583A;
  background: #FFFFFF;
}

hr {
  position: relative;
  width: 89%;
  color: #E2E2E2;
  bottom: 75px;
  opacity: 50%;
}

.article-byline {
  position: absolute;
  margin: 855px 0 0 39px;
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  font-size:10pt;
  letter-spacing: .3px;
  opacity: 50%;
}

.article-social {
  display: flex;
  height: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 39px 0 0;
}

.article-icon {
  display: inline;
  opacity: 33%;
}

.about-me {
  position: absolute;
  border: 1px solid #E7E7E7;
  background: #FFFFFF;
  height: 510px;
  width: 361px;
  top: 112px;
  right: 148px;
}

.about-me-pic {
  width: 361px;
  height: 183px;
}

.profile {
  width: 175px;
  height: 180px;
  border: 5px solid #FFFFFF;
  z-index: 1;
  border-radius: 50%;
  margin: -90px 93px 0 93px;
}

.profile-name {
  position: relative;
  text-align: center;
  color: #444444;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
}

.profile-description {
  position: relative;
  text-align: justify;
  color: #444444;
  margin: 25px 40px 5px 40px;
  font-family: Lato;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.8;
}

.profile-socials {
  display: inline-flex;
  position: relative;
  opacity: 50%;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.profile-social > * {
  display: flex;
  position: relative;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  margin: 0 5px 0 0;
  font-size: 12px;
  padding: 10px
}

.popular-posts {
  position: absolute;
  border: 1px solid #E7E7E7;
  background: #FFFFFF;
  height: 983px;
  width: 360px;
  top: 660px;
  right: 148px;
}

.popular-posts-images {
  position: relative;
  width: 301px;
  height: 200px;
  margin: 0 auto;
}

.popular-posts-images:nth-child(1n) {
  position: relative;
  margin-top: 27px;
  margin-bottom: 16px;
}

.popular-posts-titles {
  font-family: Oswald;
  margin-left: 29px;
  font-size: 12pt;
  font-weight: 400;
  margin-bottom: 13px;
  letter-spacing: -.1px;
}

.latest-posts {
  position: absolute;
  border: 1px solid #E7E7E7;
  background: #FFF;
  height: 516px;
  width: 362px;
  top: 1680px;
  right: 148px;
}

.instagram-feed {
  position: absolute;
  border: 1px solid #E7E7E7;
  background: #FFF;
  height: 596px;
  width: 361px;
  top: 2237px;
  right: 148px;
}
.instagram-photos {
  display: inline-flex;
  position: relative;
  margin: 13px 0 0 13px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.instagram-photos > * {
  display: inline-flex;
  position: relative;
  margin: 0 10px 10px 0;
  flex-basis: 43%;
  width: 147px;
  height: 153px;
}

.photo-section {
  display: flex;
  padding: 0;
  margin: 78px 0 0 0;
}

.photo-section > * {
  height: 191px;
  width: 180px;
}

.tag {
  border-top: 1px solid black;
  height: 65px;
  background-color: #222222;
  margin: 0;
  padding: 0;
}

.tag > p {
  color: #888888;
  text-align: center;
  font-family: Playfair+Display;
  font-weight: lighter;
  font-size: 14px;
  margin: 22px 0 0 0;
}
